header {
	margin: auto;
	width: 100%;
	text-align: center;
	height: 150px;
	background-color: #03193d; 
	font-family: 'Pacifico', cursive;
	color: #508ef4;
    padding-top: 30px;
}

.article-container {
	padding-left: 30px;
	padding-right: 30px;
}

h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
}

.date {
    color: #828282;
}
